/* given styles

	fonts:

	Arial - 80pt, 63pt, 35pt, 30pt, 25pt, 15pt
	Berlin Sans FB - 80pt
	
	colors: 

	color: #000000;
	color: #444444;
	color: #707070;
	color: #AAAAAA;
	color: #F5F5F5;
	color: #FFFFFF;
	color: #2699FB;

	dimensions:

	PC >1280px
	Mobile <480px
	Tablet 481px-1179px
*/



/* Variables */
:root {
	--primary: #F5F5F5;
	--dark: #444444;
	--light: #FFFFFF; 
	--darker: #000000;
	--logoblue: #2699FB;
	--primaryL: rgba(245, 245, 245, 0.7);
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

@font-face {
    font-family: "BerlinSansFB";
    src: url(../fonts/BerlinSansFBRegular.ttf) format("truetype");
}

html {
	box-sizing: border-box;
	font-family: Arial, "Arial 30pt", "Arial 25pt";
	color: var(--darker);
	scroll-behavior: smooth;
}

body {
	margin: 30px 50px;
	line-height: 1.4;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	width: 80%;
	padding-left: 10%;
}

.backgroundVideo {
	z-index: -1;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	display: block;
}

/*header and navigation */

.mainHeader h1 {
	font-family: BerlinSansFB;
	font-size: 5em;
	margin-bottom: 0;
	color: var(--logoblue);
}

.mainHeader h2 {
	margin-top: 0;
}

.mainNav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(6, 1fr);
}

.mainNav a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--darker);
	text-transform: uppercase;
	font-size: 1rem;
	box-shadow: var(--shadow)
}

.mainNav a:hover{
	background: var(--dark);
	color: var(--light);
}



nav {
	position: sticky;
	top: 0;
}

#cookies {
	background-color: rgba(20,20,20,0.8);
    min-height: 25px;
    color: var(--light);
    line-height: 26px;
    padding: 0.3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

/* maincontent */
.articleBox {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
		'showcase showcase'
		'text1 text1'
		'image text2'
		'footer footer';
}

/* Showcase1 */
.showcase1 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/haarlem.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase1 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase1 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

/* maincontent image and text */
.maincontentImage {
	grid-area: image;
	box-shadow: var(--shadow)
}

.text1 {
	grid-area: text1;
}

.text2 {
	grid-area: text2;
}

footer {
	grid-area: footer;
	font-size: 0.8em;
}

/* secondarycontent */

.articleBox2 {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
		'showcase showcase'
		'text1 image'
		'text2 image'
		'text3 image'
		'text4 image'
		'text5 image'
		'text6 image'
		'footer footer';
}

/* Showcase2 */
.showcase2 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/denhout.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase2 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase2 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

.articleBox2 p:nth-child(1) {
	grid-area: text1;
}
.articleBox2 p:nth-child(1) {
	grid-area: text2;
}
.articleBox2 p:nth-child(1) {
	grid-area: text3;
}
.articleBox2 p:nth-child(1) {
	grid-area: text4;
}
.articleBox2 p:nth-child(1) {
	grid-area: text5;
}
.articleBox2 p:nth-child(1) {
	grid-area: text6;
}

.articleBox2 img {
	grid-area: image;
	box-shadow: var(--shadow)
}


/* Sport */
.articleBox3 {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
	'showcase showcase showcase showcase'
	'pc1 pc2 pc3 pc4'
	'pc5 pc6 pc7 pc8'
	'pc9 pc0 pc00 mudo'
	'footer footer footer footer';
}

/* Showcase3 */
.showcase3 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/roeien.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase3 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase3 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}


.articleBox3 img {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	width: 100%;
	box-shadow: var(--shadow);
}

.pc1 {
	grid-area: pc1;
}
.pc2 {
	grid-area: pc2;
}
.pc3 {
	grid-area: pc3;
}
.pc4 {
	grid-area: pc4;
}
.pc5 {
	grid-area: pc5;
}
.pc6 {
	grid-area: pc6;
}
.pc7 {
	grid-area: pc7;
}
.pc8 {
	grid-area: pc8;
}
.pc9 {
	grid-area: pc9;
}
.pc0 {
	grid-area: pc0;
}
.pc00 {
	grid-area: pc00;
}

.mudoText {
	grid-area: mudo;
	max-width: 200px;
	margin-top: 0;
	color: var(--dark);
	font-size: 1.15rem;
}

.sportText {
	position: absolute;
	max-width: 200px;
	color: var(--light);
	padding-left: 1rem;
}
.mudo {
	position: absolute;
	max-width: 200px;
	color: var(--light);
	padding-left: 1rem;
	font-size: 2em;
	background-color: var(--dark);
}

.articleBox3 a:hover {
	box-shadow: 0 5px 10px rgba(104, 104, 104, 0.8);
}

.sportcity {
	color: var(--light);
}


/* Asidebox */
.asideBox {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
	'showcase'
	'text'
	'btn'
	'footer';
}

.showcase4 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/jiujitsu.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase4 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase4 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

.jiujitsuText {
	grid-area: text;
}

.btn {
	grid-area: btn;
	background-color: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
	max-width: 12%;
	text-align: center;
	box-shadow: var(--shadow)

}

#contact {
	background-color: var(--primaryL);
	border-radius: 5px;
	padding: 0.8rem;
	box-shadow: var(--shadow);
	color: var(--darker);
}

.verplicht {
	color: red;
}

.btn:hover {
	cursor: pointer; 
}

.foot {
	background-color: var(--primaryL);
	text-align: center;
	box-shadow: var(--shadow);
}

/* Media Queries */
@media(max-width: 1280px) {
	.articleBox {
		grid-template-areas: 
		'showcase showcase'
		'text1 text2'
		'image image'
		'footer footer';
	}

	.articleBox2 {
		grid-template-areas: 
		'showcase'
		'text1'
		'text2'
		'text3'
		'text4'
		'text5'
		'text6' 
		'footer';
	}
	.articleBox2 img {
		display: none;
	}

	.articleBox3 {
		grid-template-areas: 
		'showcase showcase'
		'pc1 pc2'
		'pc3 pc4'
		'pc5 pc6'
		'pc7 pc8'
		'pc9 pc0'
		'pc00 mudo'
		'footer footer';
	}

}

@media(max-width: 481px) {
	.articleBox {
		grid-template-areas: 
		'showcase'
		'text1'
		'text2'
		'footer'
	}

	.showcase1 h1 {
		font-size: 2.5rem;
	}

	.articleBox img {
		display: none;
	}

	.showcase2 h1 {
		font-size: 2.5rem;
	}

	.showcase3 h1 {
		font-size: 2.5rem;
	}

	.showcase4 h1 {
		font-size: 2.5rem;
	}

	.articleBox3 {
		grid-template-areas: 
		'showcase'
		'pc1'
		'pc2'
		'pc3'
		'pc4'
		'pc5'
		'pc6'
		'pc7'
		'pc8'
		'pc9'
		'pc0'
		'pc00'
		'mudo'
		'footer'
	}

	body {
		margin-left: 0px;
		margin-right: 0px;
	}

	.mainNav ul {
		grid-template-columns: 1fr;
	}

	.mudoText {
		max-width: 100%
	}

	.btn {
		max-width: 100%;
	}

	nav {
		position: relative;
}