/* Variables */
:root {
	--primary: #F5F5F5;
	--dark: #444444;
	--light: #FFFFFF; 
	--darker: #000000;
	--logoblue: #2699FB;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

@font-face {
    font-family: "BerlinSansFB";
    src: url(../fonts/BerlinSansFBRegular.ttf) format("truetype");
}

html {
	box-sizing: border-box;
	font-family: Arial, "Arial 30pt", "Arial 25pt";
	color: var(--darker);
}

body {
	margin: 30px 50px;
	line-height: 1.4;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	width: 80%;
	padding-left: 10%;
}

.backgroundVideo {
	z-index: -1;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	display: block;
}

/*header and navigation */
.mainHeader h1 {
	font-family: BerlinSansFB;
	font-size: 2em;
	color: var(--logoblue);
}

.mainNav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(6, 1fr);
}

.mainNav a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--darker);
	text-transform: uppercase;
	font-size: 1rem;
	box-shadow: var(--shadow)
}

.mainNav a:hover {
	background: var(--dark);
	color: var(--light);
}


/* maincontent */
.articleBox {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
		'showcase showcase'
		'text1 text1'
		'image text2'
		'footer footer';
}

/* Showcase1 */
.showcase1 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/haarlem.jpg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase1 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase1 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

/* maincontent image and text */
.maincontentImage {
	grid-area: image;
	box-shadow: var(--shadow)
}

.text1 {
	grid-area: text1;
}

.text2 {
	grid-area: text2;
}

footer {
	grid-area: footer;
	font-size: 0.8em;
}

/* secondarycontent */

.articleBox2 {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
		'showcase showcase'
		'text1 image'
		'text2 image'
		'text3 image'
		'text4 image'
		'text5 image'
		'text6 image'
		'footer footer';
}

/* Showcase2 */
.showcase2 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/denhout.jpg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase2 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase2 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

.articleBox2 p:nth-child(1) {
	grid-area: text1;
}
.articleBox2 p:nth-child(1) {
	grid-area: text2;
}
.articleBox2 p:nth-child(1) {
	grid-area: text3;
}
.articleBox2 p:nth-child(1) {
	grid-area: text4;
}
.articleBox2 p:nth-child(1) {
	grid-area: text5;
}
.articleBox2 p:nth-child(1) {
	grid-area: text6;
}

.articleBox2 img {
	grid-area: image;
	box-shadow: var(--shadow)
}


/* Sport */
.articleBox3 {
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 20px;
	padding: 0.8rem;
	grid-template-areas: 
	'showcase showcase showcase showcase'
	'pc1 pc2 pc3 pc4'
	'pc5 pc6 pc7 pc8'
	'pc9 pc0 pc0 pc0'
	'footer footer footer footer';
}

/* Showcase3 */
.showcase3 {
	grid-area: showcase;
	min-height: 400px;
	background: url(../img/roeien.jpg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	box-shadow: var(--shadow);
}

.showcase3 h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 0;
	color: var(--light);
}

.showcase3 p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}


.articleBox3 img {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	width: 100%;
	box-shadow: var(--shadow)
}

.pc1 {
	grid-area: pc1;
}
.pc2 {
	grid-area: pc2;
}
.pc3 {
	grid-area: pc3;
}
.pc4 {
	grid-area: pc4;
}
.pc5 {
	grid-area: pc5;
}
.pc6 {
	grid-area: pc6;
}
.pc7 {
	grid-area: pc7;
}
.pc8 {
	grid-area: pc8;
}
.pc9 {
	grid-area: pc9;
}
.pc0 {
	grid-area: pc0;
}

.sportText {
	position: absolute;
	max-width: 200px;
	color: var(--light);
	padding-left: 1rem;
}

.articleBox3 a:hover {
	box-shadow: 0 5px 10px rgba(104, 104, 104, 0.8);
}


/* Media Queries */
@media(max-width: 1280px) {
	.articleBox {
		grid-template-areas: 
		'showcase showcase'
		'text1 text2'
		'image image'
		'footer footer';
	}

	.articleBox2 {
		grid-template-areas: 
		'showcase'
		'text1'
		'text2'
		'text3'
		'text4'
		'text5'
		'text6' 
		'footer';
	}
	.articleBox2 img {
		display: none;
	}

	.articleBox3 {
		grid-template-areas: 
		'showcase showcase'
		'pc1 pc2'
		'pc3 pc4'
		'pc5 pc6'
		'pc7 pc8'
		'pc9 pc0'
		'footer footer';
	}
}

@media(max-width: 481px) {
	.articleBox {
		grid-template-areas: 
		'showcase'
		'text1'
		'text2'
		'footer'
	}

	.showcase1 h1 {
		font-size: 2.5rem;
	}

	.articleBox img {
		display: none;
	}

	.showcase2 h1 {
		font-size: 2.5rem;
	}

	.showcase3 h1 {
		font-size: 2.5rem;
	}

	.articleBox3 {
		grid-template-areas: 
		'showcase'
		'pc1'
		'pc2'
		'pc3'
		'pc4'
		'pc5'
		'pc6'
		'pc7'
		'pc8'
		'pc9'
		'pc0'
		'footer'
	}

	body {
		margin-left: 0px;
		margin-right: 0px;
	}

	.mainNav ul {
		grid-template-columns: 1fr;
	}
}